body {
  /* Через свойство background-color можно установить задний фон. */
  /* Так же в свойства которые работают с цветами можно писать хеш код. */
  background-color: rgb(201, 148, 148);

  /* Установив свойство color в body, мы весь текст в нем делаем один цветом. */
  color: brown;

  /* Картинка была добавляена на 100 процентов ширены экрана, и высоты, и она повторяется на сайте. */
  background-image: url("/xbox.jpg");

  /* Делаем так что бы картинка не повторялась. */
  background-repeat: no-repeat;
}
